body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #282c36;
    color: white;
}

.countdown {
    margin-top: 50px;
}

.time-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2em;
    font-weight: bold;
}

.blockDay, .blockHour, .blockMin, .blockSec {
    background-color: aliceblue;
    color: black;
    padding: 5px 20px;
}
